@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');
.product {
  font-family: "Outfit";
  background-color: rgb(187, 223, 255);
  border-radius: 4px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  min-height: 100px;
}
.product h3 {
  margin: 0px;
  display: inline;
}
.product img {
  float: left;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}
.product p {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.subText {
  color: rgb(151, 151, 151);
  font-size: small;
}